@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Team";
}

@model IEnumerable<TeamCategory>

<div class="container py-3">
    <h1 class="theme-blue mb-1">Our Team</h1>
    @foreach (var category in Model)
    {
        <div class="mb-5 border p-2">
            <h5 class="theme-green mb-2 shadow-sm text-center border py-1">@category.Name</h5>
            <div class="row justify-content-start g-4">
                @foreach (var member in category.TeamMembers)
                {
                    <div class="col-md-4 col-lg-3 d-flex">
                        <div class="card shadow-lg w-100">
                            <img src="@member.ImageGuid" class="card-img-top border p-1 w-100" alt="@member.Name" style="object-fit: cover;">
                            <div class="card-body bg-light d-flex flex-column">
                                <h6 class="card-title text-center theme-green m-0">@member.Name</h6>
                                <p class="text-muted text-center mb-1">@category.Name</p>
                                <p class="card-text flex-grow-1" style="font-size: 0.8rem;">
                                    @member.Description
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>

