@model ElnurSolutions.Models.ProductCategory

@{
    ViewData["Title"] = "Product Category Details";
}

<div class="container mt-5">
    <partial name="_AccountHeader" />

    <div class="text-center mb-4">
        <h3 class="theme-blue">Product Category Details</h3>
    </div>

    <div class="card shadow-sm">
        <div class="card-header bg-light theme-blue">
            <h4 class="mb-0">Details</h4>
        </div>
        <div class="card-body">
            <dl class="row mb-0">
                <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Name) </dt>
                <dd class="col-sm-9"> @Html.DisplayFor(model => model.Name) </dd>

                <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Description) </dt>
                <dd class="col-sm-9"> @Html.DisplayFor(model => model.Description) </dd>

                <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.CreationDate) </dt>
                <dd class="col-sm-9"> @Html.DisplayFor(model => model.CreationDate) </dd>

                <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.LastUpdate) </dt>
                <dd class="col-sm-9"> @Html.DisplayFor(model => model.LastUpdate) </dd>
            </dl>
        </div>
    </div>

    <div class="mt-4 text-center pb-3">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-success me-2">
            <i class="bi bi-pencil-fill"></i> Edit
        </a>
        <a asp-controller="account" asp-action="" class="btn btn-outline-danger">
            <i class="bi bi-arrow-left"></i> Back to List
        </a>
    </div>
</div>
